@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  h1 {
    @apply text-4xl font-bold leading-tight text-white md:text-6xl;
  }

  h3 {
    @apply text-xl font-semibold leading-snug text-white/90 md:text-2xl;
  }

  p {
    @apply text-base leading-relaxed text-white/70 md:text-lg;
  }
}

body {
  @apply font-sans;
  @apply bg-black;
}
